.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (max-width: 800px) {
    width: 100%;
    flex-direction: column;
  }
}

.checkoutProduct__info {
  padding-left: 20px;
  @media screen and (max-width: 800px) {
    margin: 0 auto;
    padding-left: 0;
  }
}

.checkoutProduct__info > button {
  background: #ff9f00;
  margin-top: 10px;
  color: #111;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.checkoutProduct__info > button:hover {
  color: #040404;
  background-color: #f6f7f9;
  border-color: #ff9f00;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  @media screen and (max-width: 800px) {
    width: auto;
    height: auto;
  }
}

.checkoutProduct__rating {
  display: flex;
  @media screen and (max-width: 800px) {
    justify-content: center;
  }
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__price {
  @media screen and (max-width: 800px) {
    text-align: center;
  }
}
