.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.home__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
  margin-bottom: -50px;
  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}
