.section_story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: inherit;
  letter-spacing: 1px;
  line-height: 90px;
}

h3 {
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 90px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
}
